/Cartel1.xlsx
/node_modules
/out
/package-lock.json
/package.json.bak
/package.json_20260917b.json
/package.json_20260917c
/tabella_colori.xlsx
/~$tabella_colori.xlsx
.vscodeignore_parked
outold/
log-merge-extension-0.0.1.vsix.zip
